@media (max-width: 550px) {
  .navbar {
    min-height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .navbar .brand-img-container {
    width: 60px;
  }

  .navbar,
  .showcase-section {
    background: #fffdf8 !important;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1.02);
  }
  .showcase-section {
    margin-top: 0;
    padding-top: 85px !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 0.25rem !important;
  }
  .showcase-heading {
    padding-top: 22px;
    font-size: 30px;
  }
  .showcase-section,
  .showcase-section .left {
    height: auto;
  }
  .showcase-section .right img {
    width: 80%;
  }
  .showcase-para {
    font-size: 14px;
    width: 90%;
  }
  .showcase-card img {
    width: 27px;
    height: 27px;
  }
  .facilities-section {
    background: transparent !important;
  }
  .facilities-section .facility-card {
    position: relative;
  }
  .facility-img-container {
    width: 45px;
    height: 45px;
  }
  .facility-text {
    font-size: 12px;
  }
  .find-mentor .left .btn {
    font-size: 16px;
  }
  .find-mentor .mentor-card .mentor-card-content {
    text-align: center;
    margin-top: 2.2rem;
  }
  .find-mentor .swiper-container {
    height: 550px;
  }
  .find-mentor .swiper-wrapper {
    height: 550px;
  }
  .find-mentor .mentor-card div h2 {
    font-size: 1.75rem;
  }
  .find-mentor-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .join-mentorkart .join-cards .join-card {
    border-radius: 15px;
  }
  .join-mentorkart .join-cards .join-card span {
    font-size: 12px;
  }
  .join-mentorkart .join-cards .join-card h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: -8px;
  }
  .join-mentorkart .join-cards .join-card .btn {
    padding: 3px 6px !important;
    border-radius: 8px;
    margin-top: -10px;
  }

  .programs .left h1 {
    font-size: 40px;
  }
  .programs .poly-2 {
    display: none;
  }
  .programs .program-card h2 {
    font-size: 18px;
  }
  .programs .program-card h1 {
    font-size: 16px;
  }
  .programs .program-card .btn {
    border-radius: 12px;
  }
  .footer .middle-img,
  .footer .middle-links {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .footer .footer-div-1 .btn {
    font-size: 16px !important;
    margin-left: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .footer .footer-div-1 .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .footer-div-3 p {
    text-align: center;
  }
  .find-mentor .left h1,
  .join-mentorkart .left h1,
  .blogs-section h1,
  .testimonials-section .right h1,
  .subscription-section h1,
  .youtube-section h1,
  .brand-videos-section h1 {
    font-size: 45px;
  }
  .subscription-section h1 {
    font-size: 35px;
  }
  .testimonials-section .testimonial-card .testi-img {
    width: 150px !important;
    height: 150px !important;
  }
  .find-mentor .left p,
  .join-mentorkart .left p,
  .testimonials-section .right p {
    font-size: 18px;
    color: #333;
    margin-bottom: 0.5rem;
  }
  .find-mentor .left p.sec,
  .join-mentorkart .left p.sec,
  .blogs-section .container-xxl > p,
  .testimonials-section .right p.sec,
  .testimonial-card .sec {
    font-size: 15px !important;
    color: rgba(51, 51, 51, 0.501557);
  }
  .youtube-section .swiper-container,
  .youtube-section .swiper-wrapper {
    height: 400px;
  }
  .youtube-video,
  .youtube-video iframe,
  .banners-section .banner .overlay,
  .banners-section,
  .banners-section .swiper-container,
  .banners-section .swiper-wrapper,
  .banners-section img {
    height: 200px;
  }
  .banners-section .banner .banner-content {
    padding: 0 1rem !important;
  }
  .banners-section .banner .banner-content h1 {
    font-size: 22px;
    width: 100%;
  }
  .banners-section .banner .banner-content .btn {
    font-size: 11px;
    border-radius: 10px;
  }

  .testimonial-card-content img {
    width: 50%;
  }
  .testimonial-card-content p {
    font-size: 17px !important;
  }

  .footer-div-1 h3 {
    font-size: 30px;
  }
  .footer {
    text-align: center;
  }
  .footer-div-2 .colored-footer-links {
    text-align: left;
    padding-left: 1.5rem !important;
  }
  .footer-div-2 .list-group-item {
    text-align: left;
    padding-left: 1.5rem !important;
    font-size: 14px;
  }
  .footer-div-2 .socials {
    width: 90%;
    font-size: 1.25rem;
  }
  .testimonials-section .swiper-button-prev,
  .testimonials-section .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  .testimonials-section .swiper-button-prev:after,
  .testimonials-section .swiper-button-next:after {
    font-size: 16px;
    width: 35px;
    height: 35px;
  }
  .testimonials-section .swiper-button-prev {
    left: auto;
    right: 40px;
  }
  .testimonials-section .swiper-button-next {
    left: auto;
    right: 0px;
  }
  .testimonials-section .testimonial-card .testimonial-writer {
    font-size: 14px !important;
  }
  .testimonials-section .testimonial-card p {
    line-height: 24px;
  }
  .testimonial-card .sec {
    margin-top: -10px;
    font-size: 14px !important;
  }

  .be-a-mentor .plane-img {
    top: 300px;
    width: 150px;
    right: 0;
  }
  .be-a-mentor .rocket-img {
    height: 200px;
  }
  .be-a-mentor .form-container {
    background: rgba(255, 255, 255, 0.75);
  }
  .be-a-mentor header .container {
    margin-top: 10vh;
    text-align: center;
    position: relative;
  }
  .be-a-mentor .guru-img {
    width: 50%;
    height: auto;
  }
  .our-blogs .our-blogs-head h1,
  .courses .courses-head h1,
  .mentors .mentors-head h1,
  .be-a-mentor h1 {
    font-weight: 700;
    font-size: 38px;
  }
  .be-a-mentor h4 {
    font-size: 16px;
  }

  .our-blogs .our-blogs-head .blog-search,
  .mentors .mentors-head .mentors-search,
  .courses .courses-head .courses-search {
    width: 98%;
  }
  .our-blogs .our-blogs-head .blog-search input,
  .mentors .mentors-head .mentors-search input,
  .courses .courses-head .courses-search input {
    border: none;
    width: 180px;
    /* border-bottom: 1px solid red; */
  }
  .our-blogs .our-blogs-head .tags,
  .courses .courses-head .tags,
  .mentors .mentors-head .tags {
    width: 98%;
  }
  .our-blogs .our-blogs-head,
  .courses .courses-head,
  .mentors .mentors-head,
  .find-a-mentor header {
    margin-top: 9vh !important;
  }
  .our-blogs .our-blogs-head h1,
  .courses .courses-head h1,
  .mentors .mentors-head h1 {
    font-size: 32px;
  }

  .single-blog .section-1 {
    margin-top: 10vh;
    height: 250px;
  }
  .single-blog .section-1 .content h1 {
    font-size: 40px;
  }
  #signup-modal {
    inset: 10px !important;
  }
  .single-blog .section-1 .content h1,
  .about header h1,
  .our-team header h1,
  .be-a-mentor h1,
  .faq h1,
  .mentor-profile h1 {
    font-size: 35px;
  }
  .mentor-profile .accordion p {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
  }
  .mentor-profile .accordion h6 {
    font-weight: 16px;
  }
  .mentor-profile .accordion h4 {
    font-size: 18px;
  }

  .find-a-mentor .content h1 {
    font-size: 26px;
  }
  .find-a-mentor header h1,
  .find-a-mentor .section-2 h2,
  .find-a-mentor .content .section-1 .card h2 {
    font-size: 32px;
  }

  .find-a-mentor .section-3 h2 {
    font-size: 40px;
  }
  .find-a-mentor .section-1 .card img {
    width: 70%;
    margin: auto;
  }
  .find-a-mentor .content .section-1 .card h6 {
    font-size: 14px;
  }
  .find-a-mentor .section-2 h1 {
    font-size: 50px !important;
  }
  .find-a-mentor .section-2 p,
  .find-a-mentor .section-3 p,
  .find-a-mentor .section-3 span {
    font-size: 15px;
  }
  .find-a-mentor .section-3 .btn {
    margin-bottom: 1rem;
    font-size: 13px;
  }
  .find-a-mentor .section-3 .btn i {
    height: 14px;
    width: 14px;
    padding: 3.5px 0 !important;
    font-size: 10px;
  }
  .our-blogs .our-blogs-head .tags,
  .courses .courses-head .tags,
  .mentors .mentors-head .tags {
    font-size: 12px;
  }
  .our-blogs .our-blogs-head .tags li a,
  .courses .courses-head .tags li .btn,
  .courses .courses-content .category-tags .btn,
  .mentors .mentors-head .tags li .btn {
    font-size: 10px;
  }
  .find-mentor .mentor-card .mentor-card-btn,
  .mentors-card .mentor-card .mentor-card-btn {
    border-radius: 15px;
    height: 30px;
    line-height: 0.7rem;
  }

  .find-mentor .mentor-card {
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .mentors-card .mentor-card .img,
  .find-mentor .mentor-card .img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    position: relative;
  }
  .mentors-card .mentor-card img,
  .find-mentor .mentor-card img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
  }
  .find-mentor .mentor-card .img .category-tags {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .find-mentor .mentor-card .img .category-tags .btn {
    background: #fff !important;
    color: #3d3d3d !important;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
  }
  .find-mentor .mentor-card .mentor-card-btn {
    padding: 2px 12px !important;
    border-radius: 10px;
  }
  .find-mentor .mentor-card .mentor-card-content {
    margin-top: 10px;
    margin-left: 0 !important;
    text-align: left !important;
  }

  .find-mentor .mentor-card hr {
    width: 80%;
    margin: 0.5rem auto 1rem;
  }

  .find-mentor .mentor-card .mentor-card-btn {
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .find-mentor .mentor-card div h2,
  .mentors-card .mentor-card div h2,
  .courses .program-card div h2 {
    font-size: 20px;
  }
  .find-mentor .mentor-card div span,
  .mentors-card .mentor-card div span {
    font-size: 13.5px;
  }
  .details-section .details-card {
    height: 150px;
  }
  .details-section .details-card h1 {
    font-size: 30px;
  }
  .details-section .details-card p.lead {
    font-size: 14.5px;
  }
  .programs .programs-cards .img {
    height: 190px;
    width: 210px;
  }

  .navbar .heading.dropdown-toggle.btn {
    padding: 0.375rem 0rem !important;
  }
}
